%p#notice= notice

<%% attributes.each do |attribute| -%>
%p
  %b <%%= attribute.human_name %>:
  = @<%%= singular_table_name %>.<%%= attribute.name %>

<%% end -%>
<%= edit_link :instance %>
\|
<%= back_link %>

