%h1 Listado de <%%= plural_table_name.humanize %>

%table<%= '.table.table-stripped' if options.bootstrap? %>
  %thead
    %tr
    <%%- attributes.each do |attribute| -%>
      %th <%%= attribute.human_name %>
    <%%- end -%>
<%- if options.bootstrap? -%>
      %th= t('.options', <%%= key_value(:default, "'helpers.options'") %>)
<%- else -%>
      %th
      %th
      %th
<%- end -%>

  %tbody
  - @<%%= plural_table_name %>.each do |<%%= singular_table_name %>| 
    %tr
    <%%- attributes.each do |attribute| -%>
      %td= <%%= singular_table_name %>.<%%= attribute.name %>
    <%%- end -%>
<%- if options.bootstrap? -%>
      %td
        <%= show_link %>
        <%= edit_link %>
        <%= destroy_link %>
<%- else -%>
      %td<%= show_link %>
      %td<%= edit_link %>
      %td<%= destroy_link %>
<%- end -%>

%br
<%= new_link %>
